.conteudo-carta{
    height: 60vh;
    width: 20vw;
    border: 3px solid black;
    border-radius: 8px;
    /*padding: 16px;*/
    padding: 1rem;
    background-color: gray;
    display: grid;
    align-items: flex-start;
    justify-items: center;
    gap: 5px;
}

.conteudo-carta img{
    width: 80%;
    max-height: 20vh;
    border: 1px solid black;
    border-radius: 8px;
    background-color: white;
}

.carta-texto{
    border: 1px solid black;
    border-radius: 8px;
    /*padding: 8px;*/
    padding: 0.5rem;
    text-align: justify;
    background-color: lightgray;
    font-size: 1.8vh;
}

.carta-instrucoes{
    display: grid;
}

.carta{
    display: none;
}
.carta-1{
    display: none;
}
.carta-2{
    display: none;
}
.carta-3{
    display: none;
}
.carta-4{
    display: none;
}
.carta-5{
    display: none;
}
.carta-6{
    display: none;
}
.carta-7{
    display: none;
}
.carta-8{
    display: none;
}
.carta-9{
    display: none;
}
.carta-10{
    display: none;
}
.carta-11{
    display: none;
}
.carta-12{
    display: none;
}
.carta-13{
    display: none;
}
.carta-14{
    display: none;
}

@media screen and (max-width: 1440px){
    .carta-texto{
        font-size: 1.7vh;
    }
}

@media screen and (max-width: 1024px){
    .carta-texto{
        font-size: 1.5vh;
    }
}